/*
0 - 600px:      Phone
600 - 900:      Tablet Potrait
900 - 1200:     Tablet Landscape
[1200 - 1800]:  is where our normal style apply
1800px + :      Big desktop
*/
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  margin: 0 auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: #4f4f4f;
  font-weight: 400;
}

.heading-primary {
  color: #333333;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 7.2rem;
}

.heading-secondary {
  color: #333333;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 5.4rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #333333;
}

.contact {
  max-width: 35rem;
}
.contact__text {
  color: #828282;
  font-size: 1.4rem;
  margin-bottom: 0.9rem;
}
.contact__text--light {
  color: #f2f2f2;
}
.contact__form {
  display: flex;
  align-items: center;
}
.contact__input {
  padding: 1.5rem 9.4rem 1.5rem 2.1rem;
  background-color: #f2f2f2;
  border-radius: 1.2rem;
  border: none;
  outline: none;
  margin-right: -9.3rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #828282;
}
.contact__input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.contact__button {
  border-radius: 12px;
  background-color: #2d9cdb;
  border: 0;
  cursor: pointer;
  padding: 1.1rem 2.8rem;
  height: 4.9rem;
  color: #f2f2f2;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
}
.contact__button:focus {
  outline: 0;
}

.review__text {
  font-size: 3.6rem;
  line-height: 5.4rem;
  font-weight: 500;
  color: #333333;
  max-width: 93rem;
  margin-bottom: 3.6rem;
}
.review__client {
  display: flex;
  align-items: flex-start;
}
.review__photo {
  width: 8.2rem;
  margin-right: 2.9rem;
  border-radius: 1.2rem;
}
.review__name {
  color: #333333;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.review__company {
  color: #828282;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.service {
  width: 30rem;
  padding: 4.6rem 3.4rem;
  transition: all 0.2s;
}
.service > h4 {
  margin-bottom: 2.4rem;
}
.service__icon-box {
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}
.service__icon-box--blue {
  background-color: #2d9cdb;
}
.service__icon-box--green {
  background-color: #27ae60;
}
.service__icon-box--red {
  background-color: #eb5757;
}
.service__icon {
  font-size: 3rem;
  line-height: 2.4rem;
  color: #ffffff;
}
.service__text {
  max-width: 27.3;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #4f4f4f;
  margin-bottom: 3.9rem;
}
.service__btn {
  background-color: #e0e0e0;
  padding: 0.9rem 1.2rem;
  border: 0;
  border-radius: 1.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #828282;
  transition: all 0.2s;
  cursor: pointer;
}
.service__btn:focus {
  outline: 0;
}
.service:hover {
  background-color: #ffffff;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 2.4rem;
}
.service:hover .service__btn {
  background-color: #2d9cdb;
  color: #ffffff;
}

.project {
  max-width: 50rem;
  border-radius: 1.2rem;
}
.project__img {
  border-radius: 1.2rem;
  width: 100%;
  margin-bottom: 2rem;
}
.project__tag {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #828282;
}
.project__title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #333333;
}

.clients {
  padding: 0 10rem;
  margin: 15rem 0;
}
@media only screen and (max-width: 43.75em) {
  .clients {
    padding: 0 2rem;
  }
}

.footer {
  padding: 4.6rem 0 15rem;
  background-color: #100e1d;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (max-width: 37.5em) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 4.6rem 4rem 15rem;
  }
}
.footer__list {
  list-style-type: none;
}
.footer__item {
  margin-bottom: 0.5rem;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #ffffff;
  line-height: 200%;
  font-size: 1.8rem;
  display: inline-block;
}
@media only screen and (max-width: 37.5em) {
  .footer__social {
    margin: 5rem 0;
  }
}
.footer__logo {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  color: #f2f2f2;
  font-size: 3.6rem;
  line-height: 3.6rem;
  margin-bottom: 1rem;
}
.footer__icon-box {
  display: flex;
  align-items: center;
}
.footer__icon:not(:last-child) {
  margin-right: 1.1rem;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] minmax(400px, 1400px) [center-end] 1fr [full-end];
}
.container > * {
  grid-column: center-start/center-end;
}
.container > .footer {
  grid-column: full-start/full-end;
}
.container > .header {
  grid-column: full-start/full-end;
}

.header {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}
.header__logo {
  font-family: "Heebo", sans-serif;
  font-size: 2.25rem;
}

.home {
  margin: 5rem 0 0;
  padding: 0 5rem;
}
@media only screen and (max-width: 43.75em) {
  .home {
    padding: 0 2rem;
  }
}
.home__box {
  margin-left: 18.5vw;
  margin-bottom: 4.2rem;
  margin-top: 4.2rem;
}
@media only screen and (max-width: 43.75em) {
  .home__box {
    margin-left: 10vw;
  }
}
.home__box > h1 {
  max-width: 54.3rem;
}
.home__box > h2 {
  max-width: 36.6rem;
  margin-bottom: 4.2rem;
}
.home__box:last-child {
  max-width: 36.6rem;
}
.home__box:not(:last-child) {
  margin-bottom: 4rem;
}
.home__message {
  font-size: 1.8rem;
  color: #2d9cdb;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.home__hero {
  width: 100%;
  border-radius: 1.8rem;
}
.home__img {
  width: 100%;
  border-radius: 1.8rem;
}
.home__text {
  color: #4f4f4f;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 4.2rem;
}

.projects {
  padding: 0 10rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, minmax(40rem, 50rem));
  gap: 6rem 2rem;
  justify-content: center;
}
@media only screen and (max-width: 43.75em) {
  .projects {
    grid-template-columns: 50rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .projects {
    padding: 2rem;
  }
}
.projects > h3 {
  grid-column: 1/-1;
  max-width: 44.8rem;
  margin-bottom: 7rem;
}
@media only screen and (max-width: 43.75em) {
  .projects > h3 {
    grid-template-columns: 50rem;
  }
}
.projects > div:nth-child(odd) {
  margin-top: -10rem;
}
@media only screen and (max-width: 43.75em) {
  .projects > div:nth-child(odd) {
    margin-top: 0;
  }
}
.projects .btn-text {
  grid-column: 2/-1;
  justify-self: end;
  margin-top: -16.5rem;
  border: 0;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  color: #2d9cdb;
  font-size: 2.4rem;
  line-height: 3.6rem;
}
@media only screen and (max-width: 43.75em) {
  .projects .btn-text {
    grid-column: 1/-1;
  }
}
.projects .btn-text:focus {
  outline: 0;
}

.nav__list {
  list-style: none;
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 3rem;
}
.nav__link {
  text-decoration: none;
  font-size: 2.2rem;
  line-height: 3.6rem;
  color: #333333;
  display: inline-block;
}
.services {
  margin: 15rem 0;
  padding: 0 10rem;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem 4.2rem;
}
.services > h3 {
  max-width: 34.6rem;
  grid-column: 1/-1;
}

.team {
  padding: 0 10rem;
  margin: 10rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 43.75em) {
  .team {
    padding: 0 2rem;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.team__text-box {
  max-width: 28rem;
  max-width: 280px;
  flex: 0 0 40%;
}
@media only screen and (max-width: 43.75em) {
  .team__text-box {
    align-self: flex-start;
  }
}
.team__text-box > h3 {
  font-size: 36px;
}
.team__top-text {
  color: #eb5757;
  font-weight: 500;
  font-size: 18px;
  line-height: 2.7rem;
  margin-bottom: 0.7rem;
}
.team__bottom-text {
  color: #4f4f4f;
  font-size: 16px;
  line-height: 2.4rem;
  margin-top: 1.4rem;
}
.team__gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, minmax(16rem, 29rem));
  align-items: center;
  gap: 2.4rem;
  width: 100%;
  flex: 0 0 60%;
}
.team__img {
  width: 100%;
  border-radius: 2.4rem;
}
.team__img--1 {
  grid-column: 2/-1;
  align-self: end;
}
.team__img--2 {
  grid-column: 2/-1;
  width: 110%;
}
@media only screen and (max-width: 43.75em) {
  .team__img--2 {
    width: 105%;
  }
}
.team__img--3 {
  grid-column: 1/2;
  grid-row: 1/3;
}

/*# sourceMappingURL=style.css.map */
