// Fonts
$font-primary: 'Poppins', sans-serif;
$font-logo: 'Heebo', sans-serif;

// Colors
$color-primary: #2d9cdb;
$color-secondary: #eb5757;
$color-tertiary: #27ae60;
$color-yellow: #f2c94c;

$color-dark-blue: #100e1d; //bg
$color-grey-light-4: #f2f2f2; // input bg, input text, footer text

$color-grey-dark: #333333;

$color-grey-light-1: #4f4f4f; //for text
$color-grey-light-2: #828282; //for text
$color-grey-light-3: #e0e0e0; // for bg

$color-black: #000000;
$color-white: #ffffff;
