body {
  font-family: $font-primary;
  color: $color-grey-light-1;
  font-weight: 400;
}

.heading-primary {
  color: $color-grey-dark;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 7.2rem;
}

.heading-secondary {
  color: $color-grey-dark;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 5.4rem;
}
