.projects {
  padding: 0 10rem;

  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, minmax(40rem, 50rem));
  gap: 6rem 2rem;
  justify-content: center;
  // row-gap: 6rem;
  // column-gap: 2rem;

  @include respond(phone) {
    grid-template-columns: minmax(30rem, 50rem);
  }

  @include respond(tab-port) {
    padding: 2rem;
  }

  & > h3 {
    grid-column: 1/-1;
    max-width: 44.8rem;
    margin-bottom: 7rem;

    @include respond(phone) {
      grid-template-columns: 50rem;
    }
  }

  & > div:nth-child(odd) {
    margin-top: -10rem;

    @include respond(phone) {
      margin-top: 0;
    }
  }

  .btn-text {
    grid-column: 2/-1;
    justify-self: end;
    margin-top: -16.5rem;

    border: 0;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;

    color: $color-primary;
    font-size: 2.4rem;
    line-height: 3.6rem;

    @include respond(phone) {
      grid-column: 1/-1;
    }
    @include respond(smallest-phone) {
      margin-top: 0;
    }

    &:focus {
      outline: 0;
    }
  }
}
